table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 3%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-container {
  margin: 6% 4% 4% 20%;
}

.table-edit-btn,
.table-delete-btn {
  background-color:blue; /* Blue color */
  color: #ffffff; /* White text */
  border: none;
  padding: 8px 10px; /* Adjust padding if needed */
  font-weight: 600; /* Adjust font weight */
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure proper inline-block display */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.table-edit-btn:hover,
.table-delete-btn:hover {
  background-color:black; /* Darker blue on hover */
}


.table-view-btn {
  background-color: rgb(123, 255, 193);
  color: #000000;
  border: none;
  padding: 8px 10px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
}

.next-prev {
  background-color: rgb(59, 193, 255);
  color: #000000;
  border: none;
  padding: 10px 10px;
  font-weight: 800;
  margin: 2%;
  cursor: pointer;
  border-radius: 5px;
}

.pre-next-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.add-btn {
  background-color:blue; /* Blue color */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 15px; /* Adjust padding for a better look */
  font-weight: 600; /* Adjust font weight */
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure proper inline-block display */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.add-btn:hover {
  background-color:black /* Darker blue on hover */
}
